<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="/image/png" href="/images/favicon.png" />
    <script src="https://kit.fontawesome.com/65f22fe718.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="container">
        <a href="/">Products</a>
        {{!-- <form method="GET" action="">
            <input type="search" name="q" placeholder="Pesquisar por produto" />
        </form> --}}

        <div class="dropdown">
            <button class="dropbtn">| |</button>
            <div class="dropdown-content">
                <a href="/category/">Categoria</a>
                <a href="/product/">Produtos</a>
            </div>
        </div>

        </div>
    </div>
</header>
<hr>
{{!-- <section class="banner" style="background-image: url('/images/allanimals.jpg')">Todos os animais</section> --}}

{{{body}}}

<footer class="container">
    Feito com ❤ por SBTech
</footer>
</body>
</html>