<div class="categories">
    <h1 class="title new-item">Nova Categoria</h1 class="title new-item">
    <form action="/category/adicionar" method="POST">

        <div class="input-field">
            <label class="label" for="name">Nome:</label>
            <input class="input-text" type="text" name="name" id="name" placeholder="Digite a categoria:">
        </div>

        <div class="input-field">
            <label class="label" for="code">Código</label>
            <input class="input-text" type="text" name="code" id="code" placeholder="Digite um código para a categoria:">
        </div>

        <div class="actions-form">
            <a href="/category/" class="action back">Voltar</a>
            <input class="btn-action" type="submit" value="Cadastrar">
        </div>
        
    </form>
</div>